.properties {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.results-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}
