HELP.md
target/
mysql-volume/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
db
config/repo

services/property-service/src/main/resources/key.json
services/user-service/src/main/resources/key.json
services/reservation-service/src/main/resources/email_credentials.txt

k8s/ingress.yaml

### Resources ###


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
