.btn {
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  &__image {
    display: flex;
    margin: 0 0.5rem 0 0;
    img {
      align-self: center;
      border-radius: 50%;
      width: 3.4rem;
    }
  }

  &__text {
    color: rgb(17, 17, 17);
  }

  &--guests-dropdown {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    position: relative;
  }

  &--account-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4rem;
    padding: 0.5rem;
    height: 4rem;
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);

    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }

  &--search {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: rgb(255, 201, 0);
    background: radial-gradient(
      circle,
      rgba(255, 201, 0, 1) 5%,
      rgba(247, 219, 40, 1) 100%
    );
    color: white;

    &:hover {
      background-color: rgb(45, 67, 163);
    }
  }

  &--submit {
    margin: 3.5rem 0;
    width: 16rem;
    border-radius: 0.6rem;
    height: 4.5rem;
    font-size: 2.3rem;
    border: 1px solid $yellow;
    color: $yellow;
    background-color: white;
    align-self: flex-end;

    &:hover {
      border: 2px solid rgb(242, 234, 15);
      color: rgb(242, 234, 15);
    }
  }

  &--submit-disabled {
    border: 1px solid rgb(247, 240, 148);
    color: rgb(247, 240, 148);
    cursor: not-allowed;

    &:hover {
      border: 1px solid rgb(247, 240, 148);
      color: rgb(247, 240, 148);
    }
  }

  &--reserve {
    height: 4.5rem;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
    background: rgb(246, 203, 17);
    background: linear-gradient(
      90deg,
      rgba(246, 203, 17, 1) 0%,
      rgba(255, 234, 0, 1) 54%,
      rgba(246, 203, 17, 1) 100%
    );
    font-size: 1.5rem;
  }

  &--guests {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    border-radius: 50%;
    border: 1px solid $light-grey;
    color: rgb(48, 48, 48);

    &:hover {
      border: 1px solid rgb(106, 106, 106);
    }
  }

  &--edit-property {
    background-color: transparent;
    width: 5rem;
    height: 3rem;
    border: 1px solid rgb(62, 96, 208);
    color: rgb(62, 96, 208);
    border-radius: 0.6rem;
    transition: all 0.6s ease-out;

    &:hover {
      border: 1px solid rgb(11, 47, 163);
      color: rgb(11, 47, 163);
    }
  }

  &--delete-property {
    background-color: transparent;
    width: 5rem;
    height: 3rem;
    border: 1px solid rgb(250, 89, 61);
    color: rgb(250, 89, 61);
    border-radius: 0.6rem;
    transition: all 0.6s ease-out;

    &:hover {
      border: 1px solid rgb(177, 13, 13);
      color: rgb(177, 13, 13);
    }
  }

  &--view-property {
    background-color: transparent;
    width: 5rem;
    height: 3rem;
    border: 1px solid rgb(255, 175, 56);
    color: rgb(255, 175, 56);
    border-radius: 0.6rem;
    transition: all 0.6s ease-out;

    &:hover {
      border: 1px solid rgb(184, 114, 8);
      color: rgb(184, 114, 8);
    }
  }

  &--create-property {
    background-color: transparent;
    width: 15rem;
    height: 3rem;
    border: 1px solid rgb(35, 232, 58);
    color: rgb(35, 232, 58);
    border-radius: 0.6rem;
    transition: all 0.6s ease-out;

    &:hover {
      border: 1px solid rgb(23, 167, 40);
      color: rgb(23, 167, 40);
    }
  }

  &--disabled {
    border: 1px solid $light-grey;
    color: rgb(184, 184, 184);
    background-color: $white;

    &:hover {
      border: 1px solid $light-grey;
    }
  }

  &--white {
    background-color: $absolute-white;
  }
}
