.edit-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(46, 46, 46);
  &__title {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &:not(:first-child) {
    margin-top: 3rem;
  }
}

.edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.save-button {
  cursor: pointer;
  margin-right: 1rem;
  width: 5.5rem;
  height: 3.2rem;
  border: 1px solid rgb(38, 216, 38);
  color: rgb(38, 216, 38);
  border-radius: 0.7rem;
  background-color: rgba(38, 216, 38, 0);
  &:hover {
    border: 1px solid rgb(34, 167, 34);
    color: rgb(34, 167, 34);
  }
}

.cancel-button {
  cursor: pointer;
  margin-right: 1rem;
  width: 5.5rem;
  height: 3.2rem;
  border: 1px solid rgb(250, 89, 61);
  color: rgb(250, 89, 61);
  border-radius: 0.7rem;
  background-color: rgba(38, 216, 38, 0);

  &:hover {
    border: 1px solid rgb(223, 26, 26);
    color: rgb(223, 26, 26);
  }
}
div:last-child
// .styles-module_Editext__editing_container__1C4d6 {
//   flex-direction: column;
//   align-items: flex-start !important;
// }

// .styles-module_Editext__buttons_after_aligned__2ZHQz {
//   margin-top: 1rem;
//   margin-left: 0 !important;
// }

.view-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.view-container div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.edit-container div:last-child {
  margin: 1rem 0 0 0;
}
