.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-group {
  padding: 1.5rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.double-input {
  width: 98%;

  display: grid;
  column-gap: 0.6rem;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr auto auto;
}

.label {
  color: rgb(36, 36, 36);
  margin-bottom: 2rem;
  font-size: 1.7rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: 300;

  &--white {
    color: $white;
  }
}

.sub-label {
  color: rgb(36, 36, 36);
  font-size: 1.3rem;
}

.error {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}

.error-message {
  display: flex;
  align-items: center;
  color: $color-red;
  border-radius: 6px;
  height: 100%;
  font-size: 1.4rem;
}

.error-icon {
  width: 1.7rem;
  margin-right: 0.5rem;
}
