.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 3rem;
}

.create-property-form {
  width: 100%;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0rem;
}

.double-input {
  width: 100%;
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr auto auto;
  justify-items: start;
  align-self: flex-start;
  max-width: 60rem;

  &__left-input {
    padding-right: 0.5rem;
    width: 100%;
  }

  &__right-input {
    padding-left: 0.5rem;
    width: 100%;
  }
}

.label {
  color: rgb(36, 36, 36);
  font-size: 1.7rem;
  text-align: left;
  width: 100%;

  &--white {
    color: rgb(199, 199, 199);
  }
}

.sub-label {
  color: rgb(36, 36, 36);
  font-size: 1.3rem;
}

.field-name {
  padding-top: 0.7rem;
  color: rgb(19, 19, 19);
}

.text-area {
  width: 100%;
  padding: 1.2rem 0.3rem;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 15rem;
  background-color: transparent;
  font-size: 1.9rem;
  color: rgb(39, 39, 39);

  &:hover {
    border-bottom: 1px solid rgb(247, 72, 72);
    transition: 0.8s ease;
  }
}

.checkbox-list {
  list-style: none;
  margin-top: 2rem;
}

.error {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}

.error-message {
  display: flex;
  align-items: center;
  color: $color-red;
  border-radius: 6px;
  height: 100%;
  font-size: 1.4rem;
}

.error-icon {
  width: 1.7rem;
  margin-right: 0.5rem;
}
