.input {
  padding: 0.7rem 0.3rem;
  display: block;
  border: none;
  outline: none;
  resize: vertical;
  font-size: 1.7rem;
  color: rgb(48, 48, 48);
  width: 100%;
  max-width: 60rem;

  &--search {
    padding: 0;
    &::placeholder {
      font-size: 1.4rem;
    }
  }

  &--form {
    margin-top: 1rem;
    border-radius: 0.5rem;
    //height: 3rem;
    border: 1px solid rgb(216, 216, 216);

    &:focus {
      border: 1px solid $yellow;
      transition: 0.8s ease;
    }
  }

  &--price {
    width: 10rem;
  }
}
