.logo {
  font-family: 'Playfair Display', serif;
  color: rgb(255, 255, 255) !important;

  &--header {
    font-size: 3.8rem;
    color: white;
  }

  &--sign-in {
    font-size: 2.6rem;
  }

  &--black {
    color: rgb(22, 104, 228);
  }
}
