.pagination {
  display: flex;
  justify-content: end;
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.pagination__container {
  margin: 4rem 0 0 0;
  padding-bottom: 4rem;
  display: flex;
  justify-content: flex-end;
}

.pagination a {
  padding: 10px;
  border-radius: 3px;
  outline: none;
  color: rgb(53, 53, 53);

  &:hover {
    background-color: rgb(214, 214, 214);
  }
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #ffd52f;
  outline: none;

  &:hover {
    background-color: #fcdb59;
  }
}

.pagination__link--disabled a {
  display: none;
}
