.property-card {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.248);
  border-radius: 0.9rem;
  display: grid;
  grid-template-columns: 30% 70%;
  width: 78rem;
  height: 22rem;

  &__image {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.9rem 0 0 0.9rem;
  }

  &__link {
    width: 100%;
    height: 100%;
  }

  &__description {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 400;
    font-size: 1.8rem;
  }

  &__sub-title {
    font-weight: 400;
    font-size: 1.4rem;
    color: rgb(68, 68, 68);
  }

  &__property-characteristics {
    margin-top: 4rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgb(68, 68, 68);
  }

  &__amenities {
    margin-top: 0.2rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgb(68, 68, 68);
  }

  &__price {
    //margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 1.5rem;

    &__number {
      margin: 0 0.3rem;
    }
  }

  &__total-price {
    margin-top: 0.2rem;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 1.2rem;
    color: gray;

    &__number {
      margin: 0 0.3rem;
    }
  }
}
