.property-information {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;

  &__right-column {
    padding: 6rem 2rem 0 2rem;
  }
}

.property-overview {
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid rgb(220, 220, 220);

  &__host-name {
    font-size: 2rem;
    font-weight: bold;
  }

  &__characteristics {
    font-size: 1.5rem;
  }

  &__right-column {
    margin-left: 2rem;
  }

  &__host-image {
    img {
      width: 5.4rem;
      border-radius: 50%;
    }
  }
}

.property-description {
  border-bottom: 1px solid rgb(220, 220, 220);

  &__title {
    font-size: 2rem;
  }

  &__text {
    font-size: 1.5rem;
  }
}

.property-location {
  border-bottom: 1px solid rgb(220, 220, 220);

  &__title {
    font-size: 2rem;
  }

  &__text {
    font-size: 1.5rem;
  }
}

.property-amenities {
  border-bottom: 1px solid rgb(220, 220, 220);

  &__title {
    font-size: 2rem;
  }

  &__amenities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }

  &__amenity {
    font-size: 1.5rem;
  }
}
