.DateRangePicker {
  grid-area: date-picker;
}

.DateRangePickerInput__withBorder {
  border: none;
}

.DateRangePickerInput_arrow_svg {
  height: 0;
}

.DateRangePickerInput_arrow {
  color: white;
}

.DateInput_input {
  cursor: pointer;
  position: relative;
  top: 0.29rem;
  &::placeholder {
    font-size: 1.4rem;
  }
}

.DateInput_input__focused {
  border-bottom: none;
}

.DateInput_input__small {
  padding: 0;
}

.CalendarDay {
  outline: none;
}

// Will edit selected date or the endpoints of a range of dates
.CalendarDay__selected {
  background: rgb(78, 78, 78); ///$dark-red;
  color: white;
  border: none;
}

.CalendarDay__selected {
  border: none;
}

// Will edit when hovered over. _span style also has this property
.CalendarDay__selected:hover {
  background: rgb(187, 187, 187);
  border: none;
  color: white;
}

.CalendarDay__selected:focus {
  outline: none;
}

// Will edit everything selected including everything between a range of dates
.CalendarDay__selected_span {
  background: #e7e7e7; //background
  color: rgb(20, 20, 20); //text
  border: 1px solid rgba(255, 0, 0, 0);
  outline: none;
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: rgb(187, 187, 187);
  border: none;
}

// Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background-color: rgb(216, 216, 216);
  border: none;
  color: rgb(54, 54, 54);
}
