.search-bar {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 1rem 4rem 0.8rem 3rem;
  width: 60rem;
  height: 6rem;
  border-radius: 3.2rem;
  margin-top: 25rem;
  position: relative;

  &__input {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
  }

  &__date-picker {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'check-in check-out'
      'date-picker date-picker';
  }

  &__label {
    align-self: center;
    font-size: 1.5rem;
  }

  .check-in {
    grid-area: check-in;
  }

  .check-out {
    grid-area: check-out;
  }

  &__button {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
  }

  &__placeholder {
    //margin-top: 0.6rem;
    align-self: end;
    font-size: 1.4rem;
    color: #777676;
  }
}
