.summary-card {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.248);
  border-radius: 0.9rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;

  &__price {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1.7rem;

    &__number {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &__dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
  }

  &__check-in {
    border-right: 1px solid black;
    padding: 0.7rem;
    &__text {
      font-size: 1.5rem;
    }

    &__date {
      font-size: 1.2rem;
    }
  }

  &__check-out {
    padding: 0.7rem;

    &__text {
      font-size: 1.5rem;
    }

    &__date {
      font-size: 1.2rem;
    }
  }

  &__guests {
    margin-bottom: 2rem;

    &__title {
      font-size: 1.5rem;
    }

    &__number {
      font-size: 1.4rem;
      color: rgb(56, 52, 52);
    }
  }

  &__warn {
    margin-bottom: 1.7rem;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(80, 80, 80);
  }

  &__price-per-night {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &__text {
      font-size: 1.5rem;
    }
    &__total-price {
      font-size: 1.5rem;
    }
  }

  &__service-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid rgb(169, 169, 169);

    &__text {
      font-size: 1.5rem;
    }

    &__price {
      font-size: 1.5rem;
    }
  }

  &__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &__text {
      font-weight: bold;
      font-size: 1.5rem;
    }
    &__number {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
