.text-area {
  width: 100%;
  padding: 1.2rem 0.3rem;
  border: none;
  outline: none;
  height: 15rem;
  background-color: transparent;
  font-size: 1.9rem;
  color: rgb(39, 39, 39);
  max-width: 60rem;
  display: block;

  &:hover {
    border-bottom: 1px solid white;
    transition: 0.8s ease;
  }

  &--form {
    margin-top: 1rem;
    border-radius: 0.5rem;
    //height: 3rem;
    border: 1px solid rgb(216, 216, 216);

    &:focus {
      border: 1px solid $yellow;
      transition: 0.8s ease;
    }
  }
}
