.btn {
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  &__image {
    display: flex;
    margin: 0 1rem 0 0.5rem;

    img {
      align-self: center;
      border-radius: 50%;
      width: 3.4rem;
    }
  }

  &__text {
    color: rgb(17, 17, 17);
  }

  &--guests-dropdown {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    position: relative;
  }

  &--account-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4rem;
    width: 10rem;
    height: 4rem;
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);

    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }

  &--search {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: rgb(34, 33, 129);
    background: linear-gradient(
      45deg,
      rgba(34, 33, 129, 1) 6%,
      rgba(51, 87, 153, 1) 75%
    );
    color: white;

    &:hover {
      background-color: rgb(45, 67, 163);
    }
  }

  &--guests {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    border-radius: 50%;
    border: 1px solid $light-grey;
    color: rgb(48, 48, 48);

    &:hover {
      border: 1px solid rgb(106, 106, 106);
    }
  }

  &--sign-in {
    width: 100%;
    padding: 1rem;
    border-radius: 0.6rem;
    background-color: rgb(30, 213, 36);
    color: $white;
    font-size: 1.5rem;

    &:hover {
      background-color: rgb(32, 197, 37);
    }
  }

  &--disabled {
    border: 1px solid $light-grey;
    color: rgb(184, 184, 184);
    background-color: $white;

    &:hover {
      border: 1px solid $light-grey;
    }
  }

  &--white {
    background-color: $absolute-white;
  }
}
