.account {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__container {
    width: 90rem;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 2rem;
    padding: 5rem 0;
  }

  &__left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__right-column {
    padding: 0 5rem;

    &__title {
      font-size: 2.2rem;
      font-weight: 700;
      color: rgb(73, 73, 73);
    }
  }

  &__profile-image {
    img {
      width: 20rem;
      border-radius: 50%;
    }
  }

  &__welcome-message {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(49, 49, 49);
  }
}
