.my-reservations {
  display: flex;
  justify-content: center;
  min-height: -webkit-calc(100vh - 11rem);
  min-height: -moz-calc(100vh - 11rem);
  min-height: calc(100vh - 11rem);

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #494949;
    margin-bottom: 1.5rem;
  }

  &__empty-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    width: 90%;
  }

  &__reservation-icon {
    width: 10rem;
  }

  &__empty-title {
    font-weight: bold;
    font-size: 2.3rem;
  }

  &__empty-text {
    font-size: 1.3rem;
    width: 50%;
    text-align: center;
  }
}
