.sign-in {
  background-image: url('../../assets/images/backgrounds/home-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__dashboard {
    position: relative;
    top: 11rem;
    padding: 1rem 0.5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.631);
  }

  &__title {
    position: relative;
    top: 10rem;
    color: $white;
    padding: 2rem 0;
    font-weight: 300;
    font-size: 2.6rem;
  }

  &__create-an-account {
    font-size: 1.4rem;
    color: $white;
    padding-bottom: 2rem;

    a {
      color: $white;
    }
  }
}
