.margin-top-extra-small {
  margin-top: 0.5rem !important;
}

.margin-bottom-extra-small {
  margin-bottom: 0.5rem !important;
}

.margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.margin-top-small {
  margin-top: 1.5rem !important;
}

.margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.margin-top-medium {
  margin-bottom: 4rem !important;
}

.margin-right-small {
  margin-right: 1.5rem !important;
}

.margin-left-small {
  margin-left: 1.5rem !important;
}

.padding-small {
  padding: 1.5rem !important;
}

.padding-medium {
  padding: 3rem !important;
}

.padding-top-small {
  padding-top: 1.5rem !important;
}

.padding-bottom-small {
  padding-bottom: 1.5rem !important;
}

.bold {
  font-weight: bold;
}

.prevent-selection {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
